.footer {
  background-color: #d35722;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  align-items: center;
}

.footer__nav {
  display: flex;
  /*background-color: #000;*/
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 108px;
  padding: 0 80px;
  box-sizing: border-box;
  color: white;
}

.footer__nav-logo {
  width: 105px;
  height: 39px;
  z-index: 2;
}

.footer__nav-links {
  display: flex;
  flex-direction: column;
  align-items: end;

  margin: 0;
  list-style: none;
}

.footer__nav-link:hover {
  color: #ffd6c5;
}

.footer__nav-announcement {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 4px;
}

.footer__nav-logoNetwork {
  width: 16px;
  height: 16px;
  gap: 10px;
}

.footer__nav-network {
  display: flex;
  margin-top: 16px;
  gap: 10px;
}

.footer__nav-link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: white;
  text-decoration: none;
}

.footer__sign {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: white;
  width: 100%;
  padding-left: 80px;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 60px;
}

.footer__circle {
  background-color: #e96e3a;
  border-radius: 50%;

  position: absolute;
  left: -4px;
  top: -128px;
  width: 340px;
  height: 340px;
  z-index: 1;
}
