.page {
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  background-color: palegreen;

  font-family: "Inter" "Arial" sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;

  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 183px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  column-gap: 20px;
  list-style: none;
  margin: 30px 26px 0 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #444;
}

.nav-link:hover {
  color: #ff976b;
}

.header__content {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  max-width: 709px;
}

.header__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;

  margin-top: 0;
  margin-bottom: 14px;
  width: 100%;
}

.first-half-title {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}

.header__description {
  display: flex;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  margin: 14px 0 0 0;
  max-width: 683px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
  z-index: 1;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin: 203px 80px 40px 80px;
}

.info-text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header-hours .info-text {
  display: flex;
}
